@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 59% 92%;
    --foreground: 25 25% 20%;
    --card: 34 59% 95%;
    --card-foreground: 25 25% 20%;
    --popover: 34 59% 95%;
    --popover-foreground: 25 25% 20%;
    --primary: 16 100% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34 50% 88%;
    --secondary-foreground: 25 25% 20%;
    --muted: 34 50% 88%;
    --muted-foreground: 25 25% 40%;
    --accent: 0 80% 75%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 34 40% 85%;
    --input: 34 40% 85%;
    --ring: 16 100% 65%;
    --radius: 0.8rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 34 59% 95%;
    --sidebar-foreground: 25 25% 25%;
    --sidebar-primary: 16 100% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 16 100% 90%;
    --sidebar-accent-foreground: 25 25% 15%;
    --sidebar-border: 34 40% 85%;
    --sidebar-ring: 16 100% 65%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 34 50% 90%;
    --card: 20 14% 8%;
    --card-foreground: 34 50% 90%;
    --popover: 20 14% 8%;
    --popover-foreground: 34 50% 90%;
    --primary: 16 100% 65%;
    --primary-foreground: 20 14% 10%;
    --secondary: 20 14% 12%;
    --secondary-foreground: 34 50% 90%;
    --muted: 20 14% 12%;
    --muted-foreground: 34 50% 60%;
    --accent: 0 80% 75%;
    --accent-foreground: 20 14% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 16 100% 65%;
    
    --sidebar-background: 20 14% 8%;
    --sidebar-foreground: 34 50% 90%;
    --sidebar-primary: 16 100% 65%;
    --sidebar-primary-foreground: 20 14% 10%;
    --sidebar-accent: 16 90% 15%;
    --sidebar-accent-foreground: 34 50% 95%;
    --sidebar-border: 20 14% 15%;
    --sidebar-ring: 16 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .font-headline {
    font-family: 'Belleza', sans-serif;
  }
}
