name: Android CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    # Generate the gradlew script from the wrapper JAR
    - name: Generate Gradle Wrapper
      run: |
        java -cp gradle/wrapper/gradle-wrapper.jar org.gradle.wrapper.GradleWrapperMain wrapper
        chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew :app:assembleDebug

    - name: Run unit tests
      run: ./gradlew :app:test
